* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pin {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 20px;
    z-index: 12;
}

.circle {
    height: 300px;
    width: 300px;
    position: relative;
}

.copy {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    height: 100%;
    border: 20px solid red;
    border-radius: 50%;
    animation: circle 10s linear 0s;
}

.circle-s {
    position: absolute;
    border: solid;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    right: 100px;
    left: 100px;
    top: 100px;
    bottom: 100px;
    z-index: 1;
    background-color: darkcyan;
    animation: rotate 3s linear;
}

.first-bar {
    position: relative;
    border: solid black;
    width: 0px;
    height: 200px;
    left: 250px;
    bottom: 101px;
}

.second-bar {
    border: solid black;
    width: 0px;
    height: 200px;
    position: relative;
    left: 44px;
    bottom: 5px;
}

.position-relative {
    position: relative;
}

.box {
    height: 67px;
    width: 300px;
    border: solid black;
    position: absolute;
    bottom: -74px;
    left: -124px;
    background-color: darkmagenta;
}

.triangle-1 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 106px solid red;
    /* border-radius: 12px 12px; */
    margin: 43px;
    position: absolute;
    top: -44px;
    left: 76px;
    z-index: 10;
    animation: move 3s linear;
}

.triangle-2 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 99px solid blue;
    /* border-radius: 12px 12px; */
    margin: 43px;
    position: absolute;
    bottom: -44px;
    left: 76px;
    z-index: 10;
    animation: mymove 5.5s linear;
}

.triangle-3 {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 98px solid orange;
    border-bottom: 35px solid transparent;
    /* border-radius: 12px 12px; */
    margin: 19px;
    position: absolute;
    left: 185px;
    bottom: 97px;
    z-index: 10;
    animation: move 1.5s linear;
}

.triangle-4 {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 108px solid greenyellow;
    border-bottom: 35px solid transparent;
    /* border-radius: 12px 12px; */
    margin: 25px;
    position: absolute;
    bottom: 91px;
    left: -27px;
    z-index: 10;
    animation: move 3.5s linear;
}

.triangle-5 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 95px solid red;
    /* border-radius: 12px 12px; */
    margin: 19px;
    display: inline-block;
    position: absolute;
    transform: rotate( 133deg);
    right: 10%;
    bottom: 10px;
    left: 168px;
    z-index: 10;
    animation: move 6s linear;
}

.triangle-6 {
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 104px solid blue;
    /* border-radius: 12px 12px; */
    margin: 19px;
    position: absolute;
    left: 7%;
    bottom: 145px;
    transform: rotate( 131deg);
    z-index: 10;
    animation: move 2s linear;
}

.triangle-7 {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 100px solid orange;
    border-bottom: 35px solid transparent;
    /* border-radius: 12px 12px; */
    margin: 19px;
    position: absolute;
    left: 4%;
    transform: rotate( 134deg);
    bottom: 19px;
    z-index: 10;
    animation: move 5s linear;
}

.triangle-8 {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-left: 100px solid greenyellow;
    border-bottom: 35px solid transparent;
    /* border-radius: 12px 12px; */
    margin: 25px;
    position: absolute;
    left: 49%;
    transform: rotate( 134deg);
    bottom: 160px;
    z-index: 10;
    animation: move 2s linear;
}

button {
    left: -10px;
    position: absolute;
    bottom: -56%;
    color: black;
    width: 60px;
    height: 30px;
    background-color: white;
    border: solid white;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover {
    background-color: pink;
    transform: scale(1);
    cursor: pointer;
}